.Image{
    width: 50px;
    height: 50px;
}
.nav{
    background-color: rgb(176, 64, 23);
    
   margin-left: 1.2rem;
   color: white;
   padding: 5px 10px;
   text-decoration-line: none;
}
@media(max-width:700px){
   .Image{
    margin-bottom: 2rem;
   }
}